
.home {
    margin-top: 6rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.home .home-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    margin: 0 auto;
}

.home-container > div  {
    border: 1px;
}

.home-img {
    margin: 0 auto;
}

.home-img img {
    width: 75%;
    border-radius: 20px;
}

.home-container .info {
    text-align: justify;
    margin: 0 auto;
    padding: 0 2rem;
}

.info h1 {
    color: #3664f4;
}

.info h1, .info h2 {
    text-align: center;
}

.info h2, .info p {
    color: #282b3a;
}

.media-icons {
    display: flex;
    flex-direction: column;
}

.media-icons a {
    margin: 10px 0;
    font-weight: bold;
    line-height: 50px;
}

.cv-container {
    text-align: center;
}

.cv-btn {
    background-color: #3664f4;
    border: none;
    transition: .3s all ease-in-out;
    border-radius: 10px;
    padding: 10px 25px;
    margin-right: 30px;
    color: #e6e7e9;
    margin-top: 3%;
}

.cv-btn:hover {
    background-color: #203c90;
}

@media screen and (min-width: 1024px){
    .home {
        padding: 1rem 3rem;
        text-align: center;
    }   
    
    .home-container .info {
        text-align: justify;
        margin: 0 10%;
        padding: 5rem 7rem;
    }

    .home-container .media-icons{
        margin-left: 10%;
    }

    .home-container .home-img {
        margin-right: 10%;
    }

    .home-img img {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
   
    .home {
        margin: 0 auto;
        font-size: 0.8rem;
        width: 100%;
    }

    .home .home-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .home-container .home-img {
        width: 70%;
        margin: 0 10px;
    }

    .home .home-container .info {
        
        margin: 0 auto;
    }

    .media-icons {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .media-icons .icon {
        margin: 50% 20px;
    }

    .cv-btn {
        margin: 0 auto;
        margin-top: 30px;
    }

}

@media screen and (max-width: 480px){
    .home {
        margin: 0 auto;
        font-size: 0.8rem;
    }
}

/* @media screen and (min-width: 768px) {
    .home {
        width: 100%;
        margin: 0 auto;
    }

    .home {
        margin-top: 4rem;
    }
    .home-container {
        margin: 0 auto;
        border: 1px solid #000;
    }

    .home-container div {
        margin: 0 auto;
        border: 1px solid #000;
    }

    .home-img img {
        width: 60%;
    }
} */